<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{Styles/Home.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="sub-container">
        <div class="select-one">
            <span>Error</span>
        </div>
        <div class="content">
            <h4>
                There is someone renting the car. You can't delete it!
            </h4>
        </div>
    </div>
</div>
</body>
</html>